h2, h3, h4, h5, h6 {
    font-family: "Jacquarda Bastarda 9", sans-serif;
}
#video iframe{
    width: 100%;
    height: 90vh;
}
header{
    width: 100%;
    height: 100px;  
    background-color: aliceblue;
    margin: 0;
    text-align: center;
    font-family: "Sofadi One", sans-serif;
    background-color: #707c87;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #707c87;
}
main > section:first-child {
    width: 20%;
}
main > section:first-child > img {
    width: 100%;
    height: auto;
}
main > section:last-child {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main > section:last-child > div{
    width: 30%;
}